#about-page {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding-top: 10rem;
}

#about-page-first {
  padding-bottom: 10vh;
  background-color: #f4f5f4;
}


#about-page-second .card-body {
  background-color: none;
}



#about-page-third {
  background-color: #737b7d;
  color: #ffffff;
  padding: 12vw;
}

#about-page-fourth {
  padding-bottom: 15vh;
}

#contact-us {
  background-color: #e2e5e6;
  padding-top: 8vw;
  padding-bottom: 8vw;
}

.warning-text {
  color: #737b7d;
}
