#contact-page {
  padding-top: 10rem;
  background-color: #ffffff;
}

#contact-page-first {
  margin-bottom: 5vh;
}

.row-form {
  position: relative;
}

.form {
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  border: 1px;
  border-radius: 0;
  border-style: solid;
  border-color: #707070 !important;
}

.form-control {
  border-radius: 0;
  color: #737b7d;
}

#contact-page .btn-black {
  min-width: 190px;
}

.topics {
  width: 100%;
  padding-top: 5vw;
  padding-left: 5vw;
}
.topics-body {
  font-family: "Roboto";
  font-size: 0.75rem;
}

.contact-queries {
  background-color: #c3cbcd;
}

#contact-page .contact-queries {
  padding-top: 15vw;
  padding-bottom: 5vw;
}

@media (max-width: 760px) {
  .form {
    position: relative;
  }
}
