#contact .form {
  position: relative;
}

#contact .card-text {
  border-radius: 0;
  font-family: "Mulish";
  color: #373f41;
  line-height: 20px;
  letter-spacing: 0.14px;
  margin: 0px 0px 0 00px;
}


#contact .btn{
  min-width: 183px;
}

@media (min-width: 768px) {
  .row-form {
    background: linear-gradient(
      to bottom,
      #F5F4F5 0%,
      #F5F4F5 80%,
      #ffffff 80%
    );
  }
}

@media (max-width: 767px) {
  .row-form {
    background: linear-gradient(
      to bottom,
      #F5F4F5 0%,
      #F5F4F5 70%,
      #F5F4F5 70%
    );
  }
}
