#contact {
  background-color: #f5f4f5;
}

#contact .form {
  position: relative;
}

#contact .card-text {
  border-radius: 0;
  font-family: "Mulish";
  color: #373f41;
  line-height: 20px;
  letter-spacing: 0.14px;
  margin: 0px 0px 0 00px;
}

#contact .technical{
  padding-left: 11rem;
}

#contact .btn {
  min-width: 183px;
}

#contact  n:hover {
  color: #000000;
}

#contact > .title {
  position: relative;
  padding-left: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
}

#contact > .title > .title-content {
  padding-top: 6vw;
  padding-bottom: 6vw;
  position: relative;
}

#contact > .title > .animation-container, #index > .title > .animation-container > .fallback {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #E4E1E5;
}

#contact .box {
  cursor: pointer;
}