#footer,
#footer-mobile {
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto";
  text-decoration: none;
}

#footer .links > div {
  padding-bottom: 1vw;
}

#footer .form-control {
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 0;
}

#footer hr {
  height: 1px;
  background-color: #ffffff40;
}

#footer a{
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .trclogo {
    width: 20%;
  }
}

@media (min-width: 768px) {
  .pingologo {
    width: 30%;
  }
}

@media (max-width: 767px) {
  .trclogo,
  .pingologo {
    width: 70%;
  }
}
