#footer {
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 500;
  padding-top: 8vw;
  padding-bottom: 12vw;
}

#footer .links > div {
  padding-bottom: 1vw;
}

#footer .links-row:last-child {
  padding-right: 3vw;
}

#footer .form-control {
  background-color: #ffffff;
  border: 1px solid #E2E5E6;
  border-radius: 0;
}
