.btn-black {
  background-color: #000000de !important;
  color: #fff !important;
  border-radius: 0 !important;
}

.btn-black:focus {
  outline-color: #a7a7a7;
}

.btn-white {
  background-color: #e2e5e6 !important;
  color: #000000 !important;
  border-radius: 0 !important;
}

.btn-white:focus {
  outline-color: #a7a7a7;
}

.section {
  padding: min(6vh, 80px) 0;
}


body {
  font-family: "Roboto";
  --line-height: 1.5;
}

h1 {
  font-family: "Poppins";
  line-height: var(--line-height);
}

h2 {
  font-family: "Poppins";
  line-height: var(--line-height);
}

h3 {
  line-height: var(--line-height);
}

textarea {
  resize: none;
}

/* Tablets */

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem
  }
}

/* Mobile Devices */
  
  @media (max-width: 480px) {
  h1 {
    font-size: 1.8rem
  }
}
