.btn-black {
  background-color: #000000de !important;
  color: #fff !important;
  border-radius: 0 !important;
}

.btn-black:focus {
  outline-color: #a7a7a7;
}

.btn-white {
  background-color: #e2e5e6 !important;
  color: #000000 !important;
  border-radius: 0 !important;
}

.btn-white:focus {
  outline-color: #a7a7a7;
}

body {
  font-family: "Roboto";
  line-height: 1.5;
}

h1 {
  font-family: "Poppins";
  line-height: 1.5;
}

h2 {
  font-family: "Poppins";
  line-height: 1.5;
}

h3{
  line-height: 1.5
}

textarea {
  resize: none;
}



/* Desktops and Large Screens */
@media (max-width: 2400px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
    
  }
  h4 {
    font-size: 1.25rem;
  } 
  body {
    font-size: 1.75rem;

  }
}

/* Laptops */
@media (max-width: 1400px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  } 
  body {
  font-size: 1rem;
  }
}

/* Tablets */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.25rem;
  } 
  body {
  font-size: 1rem;
  }
}

/* Mobile Devices */
@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.25rem;
  } 
  body {
  font-size: 0.75rem;
  }
}
