.btn-black {
  background-color: #000000de !important;
  color: #fff !important;
  border-radius: 0 !important;
}

.btn-black:focus {
  outline-color: #a7a7a7;
}

body {
  font-family: "Poppins";
}

textarea {
  resize: none
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.25rem;
  }
}


@media (max-width: 576px) {
  h1 {
    font-size: 1.65rem;
  }
  h2 {
    font-size: 1.45rem;
  }
  h3 {
    font-size: 1rem;
  }
}

