.navbar .navbar-brand {
  max-width: 470px;
}

@media (max-width: 600px) {
  .navbar .navbar-brand {
    max-width: 250px;
  }
}

.collapse-button {
  z-index: 1032;
  right: 1rem;
  left: unset;
  top: 1.7rem;
  outline: none !important;

}