.btn-black {
  background-color: #000000de !important;
  color: #fff !important;
  border-radius: 0 !important;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}
.row {
  margin: auto !important;
}