.modal{
    background-color:#00000080;
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.arrow {
    transform: rotate(90deg);
}

.close-button:hover {
    background-color: transparent;
  
}

