.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  width: 85%;
  height: 550px;
  margin: 4rem auto;
  transition: all 0.5s ease;
  z-index: 3000;
}

#modal .arrow {
  transform: rotate(90deg);
}

.wrap-close-btn {
  position: fixed;
  bottom: 5%;
  right: 0%;
}

.close-button {
  background-color: transparent;
  border: none;
}

.close-button:focus {
  outline:none;
}
