#outlined-email-input {
  padding-top: 5vw;
  padding-bottom: 15vh;
  background-color: #f5f4f5;
}

.warning-text {
  color: #737b7d;
}

.sucess {
  color: #8ec999;
}

/* .messageSucess {
  color: #8ec999;
} */

.error {
  color: #bb4230;
}
