#pingo-page {
  overflow: hidden;
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
}

#pingo-header {
  position: relative;
  color: #ffffff;
}

#pingo-header .row-trc-logo {
  padding: min(5vw, 50px) 0;
  position: relative;
}

#pingo-header .trc-logo {
  z-index: 1;
  width: 20%;
}

#pingo-header .pingo-landing-page {
  padding: min(12vw, 230px) 0;
  position: relative;
}

#pingo-header .row-trc-logo-mobile {
  padding: min(3vw, 30px) 0;
}

#pingo-header .trc-logo-mobile {
  z-index: 1;
  width: 40%;
}

#pingo-header .arrow {
  z-index: 1;
}

#pingo-header .pingo-logo {
  z-index: 1;
  width: 70%;
}

#pingo-header .pingo-logo-mobile {
  z-index: 1;
}

.pingo-cards {
  background-color: transparent;
  border: none;
}

.quotes .carousel-indicators li {
  background-color: #c3cbcd;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.quotes .carousel-indicators {
  bottom: -40px;
}

.wrap-mockup {
  position: relative;
}

.mockup-image {
  position: absolute;
  bottom: -70px;
  left: 600px;
}

.wrap-illustration {
  position: relative;
}

.quotes-illustration {
  position: absolute;
  bottom: -150px;
  left: -270px;
}

.somewhere-illustration {
  position: absolute;
  top: -90px;
  right: -100px;
}

.somewhere-illustration-mobile {
  position: absolute;
  top: -20px;
  right: 0px;
}

#download-pingo {
  background-color: #f5f4f5;
}
