#pingo-page {
  overflow: hidden;
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
}

#pingo-header {
  position: relative;
  color: #ffffff;
}

#pingo-header .pingo-landing-page {
  padding: min(15vw, 250px) 0;
  position: relative;
}

#pingo-header .pingo-logo {
  z-index: 1;
  width: 70%;
}

#pingo-header .pingo-logo-mobile {
  z-index: 1;
}


.pingo-cards {
  background-color: transparent;
  border: none;
}


.quotes .carousel-indicators li {
  background-color: #c3cbcd;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.quotes .carousel-indicators  {
bottom: -40px;
}

.wrap-illustration {
  position: relative;
}

.quotes-illustration {
  position: absolute;
  bottom: -150px;
  left: -270px;
}

.somewhere-illustration {
  position: absolute;
  top: -90px;
  right: -100px;
}

.somewhere-illustration-mobile {
  position: absolute;
  top: -20px;
  right: 0px;
  
}

#download-pingo {
  background-image: url(" ../images/pingo-shapes.png");
  background-color: #8ec99970;
}
