#close-sidebar-button {
  position: absolute;
  top: 26px;
  right: 39px;
  margin-left: 10px;
  z-index: 98;
  cursor: pointer;
}

#overlay {
  position: fixed;
  z-index: 1030;
  height: 100%;
  opacity: 1;
}

#overlay h1 {
  font-family: "Roboto";
}

#side-menu a {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  line-height: 1.5;
  -webkit-text-stroke: 0.5px #ffffff;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  background: linear-gradient(
    to right,
    transparent,
    transparent 50%,
    white 50%
  );
  background-clip: text;
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100%;
  transition: background-position 500ms ease-out;
}

#side-menu li.nav-item.active a {
  background-position: 0 100%;
}

#side-menu a:hover {
  background-position: 0 100%;
}

.email-link a {
  color: #ffffff;
  text-decoration: underline;
}

.sidebar {
  margin: 0;
  width: 0%;
  background-color: #333333;
  position: fixed;
  height: 100%;
  overflow: auto;
  text-align: left;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  visibility: hidden;
  right: 0;
  display: flex;
}
.sidebar.open {
  width: 100%;
  transition: width 300ms, padding 300ms linear;
  visibility: visible;
}

.btn:focus {
  outline: none !important;
}

.container-fluid.main-container {
  padding-right: 0px !important;
  transition: padding 300ms linear;
}

.container-fluid.main-container.open {
  padding-right: 80px !important;
  transition: padding 300ms linear;
}

@media (min-width: 768px) {
  #overlay .menu-logo {
    width: 40%;
  }
}

@media (max-width: 767px) {
  #overlay .menu-logo {
    width: 70%;
  }
}

@media (min-width: 768px) {
  #side-menu {
    padding-left: 120px;
  }
}
