#solutions-page {
  overflow: hidden;
  background-color: #f4f5f4;
}

#solutions-page .btn-action {
  min-width: 172px;
}

#solutions-header {
  background-color: #E2E5E6;
  padding-top: 12vw;
  padding-bottom: 8vw;
}

#solutions-page .card {
  border: 1px;
  border-radius: 0;
  background-color: #f4f5f4;
  font-family: "Mulish";
  font-size: 14px;
  color: #373f41;
  line-height: 20px;
  letter-spacing: 0.14px;
  margin: 0px 10px 0 10px;
}

#solutions-how-it-works {
  /* padding-top: 6vw; */
  /* padding-bottom: 6vw; */
  background-color: #F4F5F4;
}

#solutions-how-it-works .title {
  padding-top: 10vw;
  padding-left: 12vw;

}

#solutions-products {
  padding-top: 6vw;
  padding-bottom: 6vw;
  background-color: #e2e5e6;
}

/* #pingo-solutions {
  padding-top: 6vw;
  padding-bottom: 6vw;
} */

#contact-us-products {
  background-color: #ffffff;
  padding-top: 8vw;
  padding-bottom: 8vw;
}

@media (min-width: 768px) {
  .action-buttons {
    padding-top: 0;
  }
}

@media (max-width: 576px) {
  .action-buttons {
    padding-top: 1rem;
  }
}
