#solutions-page {
  overflow: hidden;
}

#solutions-page .btn-action {
  min-width: 172px;
}

#solutions-header {
  background-color: #F5F4F5;
  padding-top: 12vw;
  padding-bottom: 8vw;
}


#solutions-how-it-works {
  background-color: #ffffff;
}

#solutions-how-it-works .title {
  padding-top: 10vw;
  padding-left: 12vw;
}

#solutions-lines .arrow-interaction {
  background-color: #F5F4F5;

}

#solutions-products {
  padding-top: 6vw;
  padding-bottom: 6vw;
  background-color: #F5F4F5;
}

.equal-icon::before {
  content: '';
  margin: auto;
  width: 80vw;
  height: 3px;
  background-color: #505050;
  margin-bottom: 1rem;

}

/* #solutions-products .line {
  background-color: #505050;
  width: 80vw;
} */

#pingo-solutions {
  background-color: #F5F4F5;
}

@media (min-width: 768px) {
  .action-buttons {
    padding-top: 0;
  }
}

@media (max-width: 576px) {
  .action-buttons {
    padding-top: 1rem;
  }
}
