#solutions-page {
  position: relative;
  overflow: hidden;
  background-color: #F5F4F5;
  width: 100%;
  height: auto;
  min-height: 35rem;
}

#solutions-page > .section {
  padding-top: 12vh;
  padding-bottom: 4vh;
}

#solutions-page .card {
    border: 1px;
    border-radius: 0;
    background-color: #ffffff;
    font-family: "Mulish";
    font-size: 14px;
    color: #373f41;
    line-height: 20px;
    letter-spacing: 0.14px;
    margin: 0px 10px 0 10px;
  }

#solutions-how-it-works {
  background-color: #ffffff;
}

/* #solutions-how-it-works .title {
  padding-top: 10vw;
  padding-left: 12vw;
} */

#solutions-how-it-works .subject {
  padding-top: 10vw;
  padding-left: 12vw;
  background-image: url(" ../images/map_opacity.png");
  /* opacity: 0.5; */
}

#solutions-lines .arrow-interaction {
  background-color: #F5F4F5;

}

#solutions-products {
  padding-top: 6vw;
  padding-bottom: 6vw;
  background-color: #F5F4F5;
}

.equal-icon::before {
  content: '';
  margin: auto;
  width: 90vw;
  height: 3px;
  background-color: #505050;
  margin-bottom: 1rem;

}

/* #solutions-products .line {
  background-color: #505050;
  width: 80vw;
} */

#pingo-solutions {
  background-color: #F5F4F5;
}

@media (min-width: 768px) {
  .action-buttons {
    padding-top: 0;
  }
}

@media (max-width: 576px) {
  .action-buttons {
    padding-top: 1rem;
  }
}
