.card-content {
  text-transform: none;
  height: 220px;
  width: 220px;
}

.card-content:hover {
  background-color: #e4e1e5;
}

.go-back {
  color: #c3cbcd;
}

#submit .wrap-mockup {
  position: relative;
}

#submit .mockup {
  position: absolute;
  bottom: -231px;
  left: 618px;
  width: 80%;
}

#submit .text-submit {
  padding-top: 10rem;
  padding-left: 5rem;
}

#submit .submit {
  font-family: Helvetica;
  color: #707070;
  font-size: 12px;
  padding-top: 6rem;
  padding-left: 5rem;
}

.btn {
  color: #c3cbcd;
}

.box-confirm {
  background-color: #e4e1e5;
}

.goback-btn {
  position: absolute;
  bottom: 40px;
  left: 50px;
}
