.card-content {
  text-transform: none;
  height: 220px;
  width: 220px;
}

.card-content:hover {
  background-color: #e4e1e5;
}

.go-back {
  color: #c3cbcd;
}

.wrap-mockup {
  position: relative;
}

.mockup {
  position: absolute;
  width: 70%;
  bottom: -50px;
  right: -300px;
}

.btn {
  color:#C3CBCD
}

.box-confirm {
  background-color: #E4E1E5;
}
