#whytrc {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 35rem;
  background-color: #f5f4f5;
}

#whytrc .card {
  border-radius: 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  cursor: pointer;
}


#whytrc > .title {
  position: relative;
  padding-left: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
}

#whytrc > .title > .title-content {
  padding-top: 6vw;
  padding-bottom: 6vw;
  position: relative;
}

#whytrc > .title > .animation-container, #whytrc > .title > .animation-container > .fallback {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #E4E1E5;
}

#whytrc .back-drop {
  background: rgba(63, 61, 61, 0.692);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2999;
}


#whytrc .green {
  color: #58968a;
}

.icons:hover {
  background-color: #e4e1e5;
}

.box-shadow {
  background-color: #f5f4f5;
}

.wrap-illustration {
  position: relative;
}

.somewhere-illustration {
  position: absolute;
  top: -200px;
  left: 830px;
}

.wrap-illustration-mobile {
  position: relative;
}

.somewhere-illustration-mobile {
  position: absolute;
  bottom: -280px;
  left: 190px;
}

/* .equal-icon::before {
  content: "";
  margin: auto;
  width: 50vw;
  height: 3px;
  background-color: #505050;
  margin-bottom: 1rem;
} */ 

#whytrc .line {
  margin: auto;
  height: 3px;
  background-color: #505050;
  margin-bottom: 1rem;
}

/* .btn-action {
  min-width: 183px;
} */

