#solutions-page {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 35rem;
  /* background-color: #f5f4f5; */
}

#solutions-page .card {
  border-radius: 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  margin: 0px 10px 0 10px;
  cursor: pointer;
}


#solutions-page > .title {
  position: relative;
  padding-left: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
}

#solutions-page > .title > .title-content {
  padding-top: 6vw;
  padding-bottom: 6vw;
  position: relative;
}

#solutions-page > .title > .animation-container, #solutions-page > .title > .animation-container > .fallback {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #E4E1E5;
}

.why-trc .cards-row {
  background-color: #f5f4f5;
}

.icons:hover {
  background-color: #e4e1e5;
}

.box-shadow {
  background-color: #f5f4f5;
}

.wrap-illustration {
  position: relative;
}

.somewhere-illustration {
  position: absolute;
  top: -200px;
  left: 830px;
}

.wrap-illustration-mobile {
  position: relative;
}

.somewhere-illustration-mobile {
  position: absolute;
  bottom: -280px;
  left: 190px;
}

.equal-icon::before {
  content: "";
  margin: auto;
  width: 90vw;
  height: 3px;
  background-color: #505050;
  margin-bottom: 1rem;
}

.btn-action {
  min-width: 183px;
}
