#whytrc {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 35rem;
  background-color: #f5f4f5;
}

#whytrc .title {
  background-color: #e4e1e5;
}

#whytrc .card {
  border-radius: 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  cursor: pointer;
}

#whytrc .back-drop {
  background: rgba(63, 61, 61, 0.692);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2999;
}

#whytrc .card-body:hover {
  background-color: #e4e1e5;
}

.box-shadow {
  background-color: #f5f4f5;
}

.equal-icon {
  padding-top: min(2rem, 35px);
}

.wrap-illustration {
  position: relative;
  height: 100%;
}

.somewhere-illustration {
  position: absolute;
  top: -210px;
  left: 980px;
}

.wrap-illustration-mobile {
  position: relative;
}

.somewhere-illustration-mobile {
  position: absolute;
  bottom: -280px;
  left: 190px;
}

#whytrc .line-middle {
  margin: auto;
  width: 70vw;
  height: 3px;
  background-color: #505050;
  margin-bottom: 1rem;
}

.whytrc-arrow {
  object-fit: cover;
}

.btn-action {
  min-width: 183px;
}

#whytrc .back-drop {
  background: rgba(63, 61, 61, 0.692);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2999;
}

#whytrc .green {
  color: #58968a;
}
